<% provide(:title, 'Mercenary Market') %>
<h1>Mercenary Market</h1>

<%= form_tag(params, :method => :get) do %>
  sort by:
  <%= select_tag(:monster_order, options_for_select(@sort_options, params[:monster_order]), onchange: "this.form.submit()", style: "width:150px") %>
<%end%>

<%= will_paginate %>

<table>
  <% @monsters.in_groups_of(5, false) do |monsters| %>
    <tr>
      <%= render monsters %>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
