<% provide(:title, @monster.name) %>

<h1><%= @monster.name %></h1>

<%= image_tag(image_path_for(@monster), alt: "(picture of #{@monster.name})") %>

<p><%= pluralize(@monster.cost, "gold piece") %><p>
<p><i><%= @monster.flavour_text %></i><p>

<p>Attack : <%= @monster.attack %><p>
<p>Defence : <%= @monster.defence %><p>
<p>HP : <%= @monster.hp %><p>

<% if @monster.min_damage == @monster.max_damage %>
  <p>Damage : <%= @monster.min_damage %><p>
<% else %>
  <p>Damage : <%= "#{@monster.min_damage} - #{@monster.max_damage}" %><p>
<% end %>

<p>Speed : <%= @monster.speed %><p>

<%= button_to 'Recruit', { controller: "armies", action: "recruit", monster_id: @monster.id, user_id: current_user.id, monster_amount: 1 } , method: :post %>
