<% provide(:title, @monster.name) %>

<h1><%= @monster.name %></h1>

<%= image_tag(image_path_for(@monster), alt: "(picture of #{@monster.name})") %>

<p><%= pluralize(@monster.cost, "gold piece") %><p>
<p><i><%= @monster.flavour_text %></i><p>

<%= button_to 'Recruit', { controller: "armies", action: "recruit", monster_id: @monster.id, user_id: current_user.id, monster_amount: 1 } , method: :post %>
