<% provide(:title, @monster.name) %>

<h1><%= @monster.name %></h1>
<br>

<%= image_tag(image_path_for(@monster), alt: "(picture of #{@monster.name})", style: "float:left") %>

<table class="stats_table">
  <tr>
    <td><b>Attack</b></td>
    <td><b>Defence</b></td>
    <td><b>HP</b></td>
    <td><b>Damage</b></td>
    <td><b>Speed</b></td>
  </tr>
  <tr>
    <td><%= @monster.attack %></td>
    <td><%= @monster.defence %></td>
    <td><%= @monster.hp %></td>
  <td>
  <% if @monster.min_damage == @monster.max_damage %>
    <%= @monster.min_damage %>
  <% else %>
    <%= "#{@monster.min_damage} - #{@monster.max_damage}" %>
  <% end %>
  </td>
    <td><%= @monster.speed %></td>
  </tr>
</table>

<br>
<p><i><%= @monster.flavour_text %></i><p>

<div style="float:left; margin-right:150px">
  <br>
  cost per troop:
  <br>

  <%= pluralize(@monster.cost, "gold piece") %><%= image_tag('gold_small_neat.png', alt: "(picture of gold)") %>
</div>

<div>
  <br>
  your gold:
  <br>

  <%= pluralize(@user_gold, "gold piece") %><%= image_tag('gold_small_neat.png', alt: "(picture of gold)") %>
</div>

<%= form_tag :controller=> "armies", :action => "recruit", :params => params.merge(user_id: current_user, monster_id: @monster.id) do %>

<%= number_field_tag 'monster_amount', params[:monster_amount], in: 1..(@user_gold / @monster.cost), style: "width:80px", onchange: "toggle()" %>

  <%= submit_tag 'Recruit'%>
<% end %>
