<% provide(:title, "Battle") %>

<% if !@battle_report.nil? %>
  REPORTING IN!
  <% for battle in @battle_report %>
    <p><%= "#{battle[:side]} attacked with #{battle[:a_monster_name]}, did #{battle[:damage]} and killed #{battle[:casualties]} #{battle[:d_monster_name]}" %></p>
  <% end %>
<% end %>

<!-- tease all these conditionals out into a helper -->
<% if @victory %>
  <h1>You are victorious!</h1>
  <h1>You liberate <%= "#{ @gold_prize }" %> gold from the enemy!</h1>
<% elsif @defeat %>
  <h1>You have failed</h1>
<% else %>
  <h1>You went looking for trouble</h1>
  <h1>You found some</h1>
<% end %>

<!-- ... -->
<table>

      <table style="margin-left:auto; margin-right:auto">
        <tr>
          <%= render partial: 'monster_stack', collection: @enemy_stacks, locals: {image_class: 'monsters_image monsters_image-reversed'} %>
        </tr>
      </table>

      <tr>
        <% if !@victory && !@defeat %>
        <h1>VS</h1>
        <% end %>
      </tr>

  <tr>
      <table>
        <tr>
          <%= render :partial => 'monster_stack', :collection => @player_stacks, locals: {image_class: 'monsters_image'} %>
        </tr>
      </table>
  </tr>

</table>

<% if !@victory && !@defeat %>
  <%= button_to 'Attack!', { controller: "armies", action: "battle", user_id: current_user.id, attack: true } , method: :post, class: "btn btn-large btn-danger " %>
<% end %>
